<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8" />
  <meta name="viewport" content="width=device-width, initial-scale=1.0"/>
  <title>Add Log</title>
  <link rel="stylesheet" href="{{ url_for('static', filename='styles.css') }}">
</head>
<body>
  <div class="container">
    <a href="{{ url_for('home') }}" style="position: absolute; left: 17px; top: 82px; width: 72px; height: 36px; display: block;">
      <div style="width: 100%; height: 100%; background: white; border: 1px black solid"></div>
      <div style="position: absolute; left: 50%; top: 50%; transform: translate(-50%, -50%); 
                  text-align: center; font-size: 10px; font-weight: 700;">
        Home
      </div>
    </a>

    <a href="{{ url_for('measurements') }}" style="position: absolute; left: 113px; top: 82px; width: 72px; height: 36px; display: block;">
      <div style="width: 100%; height: 100%; background: white; border: 1px black solid"></div>
      <div style="position: absolute; left: 50%; top: 50%; transform: translate(-50%, -50%);
                  text-align: center; font-size: 10px; font-weight: 400;">
        Measurements
      </div>
    </a>

    <a href="{{ url_for('community') }}" style="position: absolute; left: 209px; top: 82px; width: 72px; height: 36px; display: block;">
      <div style="width: 100%; height: 100%; background: white; border: 1px black solid"></div>
      <div style="position: absolute; left: 50%; top: 50%; transform: translate(-50%, -50%);
                  text-align: center; font-size: 10px; font-weight: 400;">
        Community
      </div>
    </a>

    <a href="{{ url_for('profile') }}" style="position: absolute; left: 305px; top: 82px; width: 72px; height: 36px; display: block;">
      <div style="width: 100%; height: 100%; background: white; border: 1px black solid"></div>
      <div style="position: absolute; left: 50%; top: 50%; transform: translate(-50%, -50%);
                  text-align: center; font-size: 10px; font-weight: 400;">
        Profile
      </div>
    </a>

    <!-- Page Title -->
    <div style="left: 71px; top: 193px; position: absolute; text-align: center;
                color: black; font-size: 36px; font-family: Inter; font-weight: 400;
                word-wrap: break-word;">
      Add Log
    </div>

    <!-- Date Label & Value (Static for now) -->
    <div style="left: 27px; top: 265px; position: absolute; color: black; 
                font-size: 16px; font-family: Inter; font-weight: 700;">
      Date
    </div>
    <div style="left: 240px; top: 265px; position: absolute; color: black; 
                font-size: 16px; font-family: Inter; font-weight: 400;">
      21 February 2025
    </div>

    <!-- Body Weight & Body Fat Form -->
    <form action="{{ url_for('add_log') }}" method="POST">
      <!-- Measurements Label -->
      <div style="left: 27px; top: 310px; position: absolute; color: black; 
                  font-size: 20px; font-family: Inter; font-weight: 700;">
        Measurements
      </div>

      <!-- Body Weight Label -->
      <div style="left: 27px; top: 345px; position: absolute; color: black; 
                  font-size: 16px; font-family: Inter; font-weight: 400;">
        Body Weight
      </div>
      <!-- Body Weight Input -->
      <input type="text" name="body_weight" placeholder="KG" required
             style="position: absolute; left: 240px; top: 345px; width: 60px; 
                    color: black; font-size: 16px; font-family: Inter; 
                    font-weight: 400; border: none; border-bottom: 1px solid black;" />

      <!-- Body Fat Label -->
      <div style="left: 27px; top: 375px; position: absolute; color: black; 
                  font-size: 16px; font-family: Inter; font-weight: 400;">
        Body Fat
      </div>
      <!-- Body Fat Input -->
      <input type="text" name="body_fat" placeholder="%" required
             style="position: absolute; left: 240px; top: 375px; width: 60px; 
                    color: black; font-size: 16px; font-family: Inter; 
                    font-weight: 400; border: none; border-bottom: 1px solid black;" />

      <!-- Waist Label -->
      <div style="left: 27px; top: 405px; position: absolute; color: black; 
                  font-size: 16px; font-family: Inter; font-weight: 400;">
        Waist
      </div>
      <!-- Waist Input -->
      <input type="text" name="waist" placeholder="CM" required
             style="position: absolute; left: 240px; top: 405px; width: 60px; 
                    color: black; font-size: 16px; font-family: Inter; 
                    font-weight: 400; border: none; border-bottom: 1px solid black;" />

      <!-- Shoulder Label -->
      <div style="left: 27px; top: 435px; position: absolute; color: black; 
                  font-size: 16px; font-family: Inter; font-weight: 400;">
        Shoulder
      </div>
      <!-- Shoulder Input -->
      <input type="text" name="shoulder" placeholder="CM" required
             style="position: absolute; left: 240px; top: 435px; width: 60px; 
                    color: black; font-size: 16px; font-family: Inter; 
                    font-weight: 400; border: none; border-bottom: 1px solid black;" />

      <!-- Chest Label -->
      <div style="left: 27px; top: 465px; position: absolute; color: black; 
                  font-size: 16px; font-family: Inter; font-weight: 400;">
        Chest
      </div>
      <!-- Chest Input -->
      <input type="text" name="chest" placeholder="CM" required
             style="position: absolute; left: 240px; top: 465px; width: 60px; 
                    color: black; font-size: 16px; font-family: Inter; 
                    font-weight: 400; border: none; border-bottom: 1px solid black;" />

      <!-- Abdomen Label -->
      <div style="left: 27px; top: 495px; position: absolute; color: black; 
                  font-size: 16px; font-family: Inter; font-weight: 400;">
        Abdomen
      </div>
      <!-- Abdomen Input -->
      <input type="text" name="abdomen" placeholder="CM" required
             style="position: absolute; left: 240px; top: 495px; width: 60px; 
                    color: black; font-size: 16px; font-family: Inter; 
                    font-weight: 400; border: none; border-bottom: 1px solid black;" />

      <!-- Hip Label -->
      <div style="left: 27px; top: 525px; position: absolute; color: black; 
                  font-size: 16px; font-family: Inter; font-weight: 400;">
        Hip
      </div>
      <!-- Hip Input -->
      <input type="text" name="hip" placeholder="CM" required
             style="position: absolute; left: 240px; top: 525px; width: 60px; 
                    color: black; font-size: 16px; font-family: Inter; 
                    font-weight: 400; border: none; border-bottom: 1px solid black;" />

      <!-- Left Thigh Label -->
      <div style="left: 27px; top: 555px; position: absolute; color: black; 
                  font-size: 16px; font-family: Inter; font-weight: 400;">
        Left Thigh
      </div>
      <!-- Left Thigh Input -->
      <input type="text" name="left_thigh" placeholder="CM" required
             style="position: absolute; left: 240px; top: 555px; width: 60px; 
                    color: black; font-size: 16px; font-family: Inter; 
                    font-weight: 400; border: none; border-bottom: 1px solid black;" />

      <!-- Right Thigh Label -->
      <div style="left: 27px; top: 585px; position: absolute; color: black; 
                  font-size: 16px; font-family: Inter; font-weight: 400;">
        Right Thigh
      </div>
      <!-- Right Thigh Input -->
      <input type="text" name="right_thigh" placeholder="CM" required
             style="position: absolute; left: 240px; top: 615px; width: 60px; 
                    color: black; font-size: 16px; font-family: Inter; 
                    font-weight: 400; border: none; border-bottom: 1px solid black;" />

      <!-- Save Button -->
      <button type="submit" 
              style="position: absolute; left: 27px; top: 650px; width: 340px; height: 36px; 
                     background: white; border: 1px black solid; font-size: 14px; 
                     font-weight: 400; cursor: pointer;">
        Save
      </button>
    </form>
  </div>
</body>
</html>